body, html {
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto', sans-serif;


}
/* section-one firt------------------------------------- */
.container1 {
  max-width: 1100px;       /* عرض الصفحة مثل نسخة Odin */
  margin: 0 auto;          /* يوسّط كل شيء */
  padding: 0 20px;         /* مسافة بسيطة يمين ويسار */
}

.section-one {
 
  background-color:#1f2937 ;
   padding: 10px;

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.hero-container {
    display: flex;
    justify-content: space-between; /* بدلاً من space-evenly */
    align-items: center;
    margin: 80px 0;
}

   
.hero-image {
    width: 500px;
    height: 200px;
    background: rgb(148, 147, 147);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-lain{
    font-size: 48px;
    color: #F9FAF8;
    width: 900;
}

/* section-one end---------------------------------- */

/* section-tow firt --------------------------------*/


.section-tow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
     flex-wrap: wrap;

    
   
}
.box-item p {
     font-size: 14px;
  color: #555;
  margin-top: 10px;

}
/* section-tow end --------------------------------- */

/* section-three first ------------------------------*/

.section-three{
    display: flex;
   flex-direction: column;
    
    align-items: center;
    background-color: #83858a;
    padding: 70px;
}
.text3{
 
   width: 900px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    margin-bottom: 20px;
  

}
/* section-three end ------------------------------*/

/* section-fors first ------------------------------*/

.section-fors {
    background-color: #3b82f6;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-radius: 8px;
    flex-wrap: wrap;
    
}
.qw{
    border: 1px solid #E5E7EB;
    background-color: #3b82f6;
     border-radius: 8px;
    background-color: #3d86f3;
    color: #ffffff;
    padding: 8px 30px;
    flex-wrap: wrap;
}
/* section-fors end ------------------------------*/

.footer{
   background-color: #1f2937;
   display: flex;
   align-items: end;
   text-align: center;
   justify-content: center;
}

/* a , logo, link , singl-but , p ------------------------------------------------------*/
.link{
  display: flex;
  gap: 20px;
}

a {
    
   text-decoration: none;  
   font-size: 18px;
   color: #E5E7EB;
}
.logo{
    font-size:24px ;
    color: #F9FAF8;
}
.singl-but{
    border: none;
    border-radius: 8px ;
    background-color: #3d86f3;
    color: #ffffff;
    padding: 8px 10px;
}
p{
    white-space: normal;
    font-size: 18px;
    color:#E5E7EB;
}
.s2-titl{
    font-size: 36px;
    color: #1f2937;
    width: 900;
   margin-bottom: 40px;

}
.box{

   width: 150px;
  height: 150px;
  border: 5px solid #3b82f6; /* أزرق مثل المشروع */
  border-radius: 12%;
  
}

.description {
  width: 150px; /* يجعل النص لا يتجاوز حدود المربع */
  white-space: normal;
  overflow-wrap: break-word;
  margin-top: 8px;
}
.tuhr {
    color: #1f2937;
    font-weight: bold;
    font-size: 14px;
     align-self: end;
}

